<md-dialog aria-label="SetNote form" style="width:600px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="color-white" layout="row" layout-align="start center">
				<span>Datos Academicos</span>
			</h2>
			<span flex></span>
			<md-button aria-label="close" class="md-icon-button" ng-click="vm.cancel()">
				<i class="fa fa-times close-modal"></i>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content  style="height:250px;">
		<div layout="row" style="margin-top:100px;" layout "column" layout-align="space-around" ng-if="vm.loading">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
        <div layout="column" ng-if="!vm.loading">

            <div layout="row" layout-align="space-around">
                <md-input-container flex>
                  <label>Pago Mensual APUNET</label>
                  <input required ng-model="vm.dataCuotas.pago_mensual_apunet" type="number" step="any">
                </md-input-container>
                <md-input-container flex>
                  <label>Pago Mensual CERCPU</label>
                  <input required ng-model="vm.dataCuotas.pago_mensual_cercpu" type="number" step="any">
                </md-input-container>
                <md-input-container flex>
                  <label>Aporte CERCPU</label>
                  <input required ng-model="vm.dataCuotas.pago_aportacion_cercpu" type="number" step="any">
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around">
                <md-input-container flex>
                  <label>Aporte FAPUV</label>
                  <input required ng-model="vm.dataCuotas.aporte_fapuv" type="number" step="any">
                </md-input-container>
                <md-input-container flex>
                  <label>Aporte Previsión Social</label>
                  <input required ng-model="vm.dataCuotas.aporte_prev_social" type="number" step="any">
                </md-input-container>
                <md-input-container flex>
                  <label>Pagos Extraordianarios</label>
                  <input required ng-model="vm.dataCuotas.pagos_extraordinarios" type="number" step="any">
                </md-input-container>
            </div>
        </div>
	</md-dialog-content>
    <div class="md-actions" layout="row" layout-align="space-around">
		<md-progress-linear md-mode="indeterminate" ng-if="vm.processing"></md-progress-linear>
		<md-button class="md-raised " ng-click="vm.cancel()">Cancelar</md-button>
		<md-button class="md-raised md-primary" ng-click="vm.guardar()">Guardar</md-button>
	</div>
</md-dialog>
